body {
    font-size: 16px;
    line-height: 1.8;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logo {
    width: 100%;
    max-width: 36px;
    height: auto;
    fill: currentColor;
}

header a {
    color: inherit;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

header h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #333333;
    margin-bottom: 0px;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: #aaa;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease;
    padding: 10px 15px;
}

nav a:hover {
    color: #333;
    border-bottom: 2px solid #333;
}

.menu-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.nav-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.nav-overlay a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.nav-overlay a:hover, .nav-overlay a:focus {
    color: #f1f1f1;
}

main {
    max-width: 900px;
    margin: 5px auto; /* Changed to 'auto' to ensure horizontal centering */
    padding: 0 20px;
    line-height: 1.6;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

ul#postList {
    list-style: none;
    padding: 0;
}

ul#postList li {
    margin-bottom: 15px;
}

ul#postList li a {
    color: #0071e3;
    text-decoration: none;
    font-weight: 500;
}

ul#postList li a:hover {
    text-decoration: underline;
}


input#searchBar {
    font-size: 1.1rem;
    padding: 10px;
    margin-bottom: 30px; /* Already has bottom margin */
    margin-top: 20px; /* Adds space above the search bar */
    margin-left: 20px; /* Adds space to the left */
    margin-right: 20px; /* Adds space to the right */
    border: 1px solid #e0e0e0;
    display: block; /* Ensures it takes the full available width with margins */
    width: calc(100% - 40px); /* Adjusts width to account for left and right margins */
}
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }
    .menu-btn {
        display: block;
    }
    nav ul {
        display: none;
    }
    header .logo {
        max-width: 24px;
    }
}
