body {
    font-size: 20px;
    line-height: 1.8;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
h1 {
    font-size: 2.6rem;
    font-weight bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}
h2 {
    font-size: 1.75rem;
    font-weight bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}
h3 {
    font-size: 1.5rem;
    font-weight bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}
h4 {
    font-size: 1.25rem;
    font-weight bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}
h5 {
    font-size: 1rem;
    font-weight bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
}

header {
    text-align: center;
    padding: 2px 0;
    margin: 10px auto;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logo {
    width: 100%;
    max-width: 36px;
    height: auto;
    fill: currentColor;
}

header a {
    color: inherit;
    text-decoration: none;
}

header a:hover {
    text-decoration: none;
}

header h1 {
    font-size: 40px;
    font-weight: 600;
    color: #333333;
    padding-bottom: 20px;
    margin-bottom: 0px;
    text-align: center;
}
main {
    max-width: 1200px;
    margin: 10px auto; /* Changed to 'auto' to ensure horizontal centering */
    padding: 0 20px;
    line-height: 1.6;
}
nav ul {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: #aaa;
    text-decoration: none;
    font-weight: 400;
    transition: color 0.2s ease;
    padding: 3px 15px;
}

nav a:hover {
    color: #333;
    border-bottom: 2px solid #333;
}

.menu-btn {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.nav-overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: auto;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.2s;
    padding-top: 60px;
    text-align: right; /* Added */
}

article img {
    max-width: 100%; /* Ensure images do not exceed the container width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Centers image in the document */
    margin: 0 auto; /* Center image horizontally */
    cursor: pointer; /* Indicates the image can be clicked */
}

/* Style the Image Used to Trigger the Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px; /* Adjusted to control the zoom level */
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* The Close Button */
.close {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.nav-overlay a {
    padding: 10px 15px;
    
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.nav-overlay a:hover, .nav-overlay a:focus {
    color: #f1f1f1;
}




ul#postList {
    list-style: none;
    padding: 0;
}

ul#postList li {
    margin-bottom: 15px;
}

ul#postList li a {
    color: #0071e3;
    text-decoration: none;
    font-weight: 500;
}

ul#postList li a:hover {
    text-decoration: underline;
}


input#searchBar {
    font-size: 1.1rem;
    padding: 10px;
    margin-bottom: 30px; /* Already has bottom margin */
    margin-top: 20px; /* Adds space above the search bar */
    border: 1px solid #e0e0e0;
    display: block; /* Ensures it takes the full available width with margins */
    width: 100%; /* Adjusts width to account for left and right margins */
}

pre {
    background-color: #f8f9fa; /* Light gray background for better contrast */
    border: 1px solid #ccc;    /* Light border around code blocks */
    overflow: auto;            /* Enables scrolling both horizontally and vertically */
    padding: 15px;             /* Adds padding inside the code block */
    font-family: 'Courier New', Courier, monospace; /* Ensures monospaced font */
    line-height: 1.5;          /* Adjust line spacing for readability */
    white-space: pre;          /* Maintains whitespace formatting */
    margin-bottom: 20px;       /* Adds space below the code block */
}

code {
    font-size: 10px;
    display: block; /* Ensures code block displays correctly */
}


span {
    font-size: 20px;   
}

@media (max-width: 768px) {
    header h1 {
        font-size: 32px;
    }
    .menu-btn {
        display: block;
    }
    nav ul {
        display: none;
    }
    header .logo {
        max-width: 24px;
    }
    body {
    font-size: 18px;
    }
    pre {
    font-size: 18px;   
}
    code {
    font-size: 18px;   
}
    span {
    font-size: 18px;   
}
}
